    :root {
      --verde: #6f8e74;
      --verde-claro: #c4d5c5;
    }

    @import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

    /* Estilos generales */
    body {
      font-family: 'Raleway', sans-serif;
      font-weight: 100;
      margin: 0;
      padding: 0;
    }

    /* Estilos del encabezado */
    header {
      background-color: #6f8e74;
      padding: 20px;
      color: white;
    }

    h1 {
      margin: 0;
    }

    nav ul {
      margin: 0;
      padding-top: 1rem;
    }

    nav ul li {
      display: inline-block;
      margin-right: 10px;
      padding: 10px;
      box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
      border-radius: 5px;
      background-color: var(--verde-claro);
    }

    nav ul li:hover {
      background-color: white;
    }

    nav ul li a {
      color: black;
      text-decoration: none;
    }

    /* Estilos del menú desplegable */
    .dropdown-content {
      display: none;
      position: absolute;
      background-color: var(--verde-claro);
      min-width: 160px;
      box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
      z-index: 1;
      ;
    }

    .dropdown:hover .dropdown-content {
      display: block;
    }

    .dropdown-content a {
      color: black;
      padding: 12px 16px;
      text-decoration: none;
      display: block;
    }

    .dropdown-content a:hover {
      background-color: var(--verde);
    }

    /* Estilos del carrusel */
    .carousel-container {
      position: relative;
      width: 100%;
      margin: 0 auto;
      overflow: hidden;
    }

    .carousel-slide {
      display: flex;
      width: 100%;
    }

    .carousel-image {
      flex: 1 0 100%;
      width: 75%;
      height: 582px;
      object-fit: fill;
    }

    /* Estilos de los botones de navegación */
    .carousel-nav {
      position: absolute;
      bottom: 50%;
      left: 50%;
      transform: translateX(-50%);
    }

    .carousel-prev,
    .carousel-next {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      width: 40px;
      height: 40px;
      background-color: var(--verde);
      border-radius: 50%;
      color: white;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 24px;
      cursor: pointer;
    }

    .carousel-prev:hover,
    .carousel-next:hover {
      background-color: var(--verde-claro);
    }

    .carousel-prev {
      left: 20px;
    }

    .carousel-next {
      right: 20px;
    }

    /* Estilos de los Indicadores */
    .carousel-indicators {
      position: absolute;
      bottom: 10px;
      left: 50%;
      transform: translateX(-50%);
      display: flex;
      justify-content: center;
      z-index: 1;
    }

    .carousel-indicator {
      width: 10px;
      height: 10px;
      border-radius: 50%;
      background-color: #ccc;
      margin: 0 5px;
      cursor: pointer;
    }

    .carousel-indicator.active {
      background-color: #6f8e74;
    }

    /* Estilos del contenido principal */
    main {
      padding: 20px;
    }

    h2 {
      color: var(--verde);
    }

    p {
      margin-bottom: 1em;
    }

    /* Estilos del pie de página */
    footer {
      background-color: var(--verde-claro);
      padding: 20px;
      color: white;
      text-align: center;
    }

    footer .footer-container{
      display: flex;
      justify-content: start;
      align-items: center;
      margin-left: 10%;
    }

    footer .footer-container .social-media{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: start;
      margin-right: 10%;
    }

    footer .footer-container .social-media a{
      display: flex;
      justify-content: center;
      margin-bottom: 1em;
      text-decoration: none;
      color: black;
    }

    footer .footer-container .social-media a:hover{
      color: white;
    }

    footer .site-links{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: start;
    }

    footer .site-links a{
      display: flex;
      justify-content: center;
      margin-bottom: 1em;
      text-decoration: none;
      color: black;
    }

    footer .site-links a:hover{
      color: white;
    }
      